body { background: #000; color: #ddd; }
#dosbox { width: 640px; height: 400px; }
.dosbox-container { width: 640px; height: 400px; }
.dosbox-container > .dosbox-overlay { background-size: 640px 400px; }