
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* PC, Mobile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
}

.dosbox-container {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    overflow: hidden;
}

#jsdos {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.skip {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: inline-block;

    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skip:hover {
    background-color: rgb(238, 238, 238);
}

/* dialog box */

#dialogBox {
    display: none;
    z-index: 3;
    image-rendering: pixelated;
    text-transform: uppercase;
    background-color: #ffffff;
    border: solid;
    border-image: url("img/dialog-borderbox.png") 8 / 12px 12px 12px 12px stretch;
    padding: 30px;
    position: fixed;
    bottom: 0px;
    width: 90%;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    line-height: 1.3;
    font-size: 30px;
    font-family: 'NeoDunggeunmoPro-Regular';
}

#dialogTitle {
    color: rgb(0, 211, 239);
    font-family: 'NeoDunggeunmoPro-Regular';
    font-size: 30px;
    margin-bottom: 12px;
    font-weight: bold;
}

#dialogFooter {
    font-family: 'NeoDunggeunmoPro-Regular';
    font-size: 30px;
    cursor: pointer;
    text-align: end;
    position: absolute;
    right: 12px;
    bottom: 12px;
}

@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}

.zoomIn {
    animation-name: zoomIn;
    animation-duration: 0.7s;
}

@keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1);
    }
}

.zoomOut {
    animation-name: zoomOut;
    animation-duration: 0.7s;
}

/* Phone */
@media only screen and (max-device-width: 740px) {
    #jsdos {
        transform: none;
        transform-origin: top left;
    }

    #dialogBox {
        min-height: 270px;
        font-size: 20px;
    }

    #dialogTitle {
        font-size: 20px; 
    }
}
